<phpunit bootstrap="./vendor/autoload.php" colors="false">
    <testsuites>
        <testsuite name="Coverage Monitor Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
